@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  @media screen and (max-width: 1200px) {
    max-height: max-content;
  }
  @media screen and (max-width: 800px) {
    max-height: max-content;
    height: max-content;
  }
  .card-title-section{
    position: absolute;
    left: 18px;
    bottom: 20px;
    z-index: 2;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    pointer-events: none;
    span{
      font-size: 12px;
      transition: opacity 0.3s;
      margin-bottom: 4px;
      color: #fff;
    }
  }
  .section-icons{
    opacity: 0.7;
    pointer-events: none;
    padding: 8px;
    background-color: #ffffff11;
    border-radius: 6px;
  }
  .top {
    &-level {
      flex: 1 0 0px;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
      width: 100%;
      overflow: visible;
      padding: 0;
      height: 65%;
      @media screen and (max-width: 800px) {
        height: min-content;
      }
    }
    &-one {
      flex: 1 0 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 20%;
      height: 100%;
      border-color: rgb(61 61 61 / 50%);
      border-width: 1px;
      border-radius: 24px;
      position: relative;
      overflow: hidden;
      background-color: #000000;
      .card-title-section{
        opacity: 1;
      }
      .about-video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
        filter: blur(32px);
        transition: filter 0.2s ease-in-out;
      }
      .about-container{
          position: absolute;
          padding: 12px;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
          transition: all 0.3s;
          border-radius: 12px;
          opacity: 0;
        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 8px;
          color: #ffffff;
        }
        p {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 500;
          display: block;
          transition: all 0.3s ease-in-out;
        }
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, #000000, #00000000);
        z-index: 1;
        pointer-events: none;
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        transition: opacity 0.3s linear;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
        background-repeat: repeat;
        animation: noise 1.5s steps(2) 0.01s infinite;
        animation-play-state: running;
        opacity: 0.02;
        z-index: 1;
      }
      &:hover {
        .card-title-section{
          opacity: 0;
        }
        &::before{
          opacity: 1;
        }
        .about-video{
          filter: blur(0);
        }
        .about-container {
          opacity: 1;
          max-height: 100%;
        }
      }
      @media screen and (max-width: 1200px) {
        order: 1;
        width: 33%;
      }
      @media screen and (max-width: 800px) {
        width: 50%;
        height: 700px;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        height: 450px;
      }
      
    }
    &-two {
      flex: 1 0 0px;
      align-items: center;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 8px;
      height: 100%;
      justify-content: center;
      min-width: 288px;
      padding: 0;
      position: relative;
      width: 40%;
      overflow: hidden;
      &-one,
      &-two {
        display: flex;
        height: 50%;
        width: 100%;
        padding: 12px;
      }
      &-one {
        border-color: rgb(61 61 61 / 50%);
        border-width: 1px;
        border-radius: 24px;
        align-items: flex-end;
        justify-content: flex-start;
        overflow-y: auto;
        background-color: #000000;
        overflow: hidden;
        position: relative;
        .experience {
          max-height: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          scrollbar-color: transparent transparent;
          scrollbar-width: thin;
          position: relative;
          &:hover {
            scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
          }
          h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
          }
          p {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 8px;
          }
          li {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            &::before {
              content: "•";
              margin-right: 8px;
            }
            &:last-child {
              margin-bottom: 15px;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          transition: opacity 0.3s linear;
          left: -50%;
          top: -50%;
          width: 200%;
          height: 200%;
          background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
          background-repeat: repeat;
          animation: noise 1.5s steps(2) 0.01s infinite;
          animation-play-state: running;
          opacity: 0.02;
          pointer-events: none;
        }
        .experience{
          transition: all 0.3s;
          filter: blur(32px);
        }
        &:hover {
          .card-title-section{
            opacity: 0;
          }
          .experience{
            filter: blur(0px);
          }
        }
        @media screen and (max-width: 1200px) {
          order: 1;
        }
      }
      &-two {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .my-name {
          font-size: 2.5rem;
          font-weight: 700;
          cursor: pointer;
        }
        @media screen and (max-width: 1200px) {
          order: 0;
        }
      }
      @media screen and (max-width: 1200px) {
        order: 0;
        width: 33%;
      }
      @media screen and (max-width: 800px) {
        width: 50%;
        height: 700px;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        height: 700px;
      }
    }
    &-three {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 40%;
      height: 100%;
      border-color: rgb(61 61 61 / 50%);
      border-width: 1px;
      border-radius: 24px;
      overflow: hidden;
      background-color: #000;
      position: relative;
      .world-container {
        display: flex;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        filter: blur(32px);
      }
      &::after {
        content: "";
        position: absolute;
        transition: opacity 0.3s linear;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
        background-repeat: repeat;
        animation: noise 1.5s steps(2) 0.01s infinite;
        animation-play-state: running;
        opacity: 0.02;
        z-index: 1;
        pointer-events: none;
      }
      &:hover {
        .card-title-section{
          opacity: 0;
        }
        .world-container {
          filter: blur(0);
        }
      }
      @media screen and (max-width: 1200px) {
        order: 2;
        width: 34%;
      }
      @media screen and (max-width: 800px) {
        width: 100%;
        height: 450px;
      }
    }
  }
  .bottom {
    &-level {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
      width: 100%;
      height: calc(35% - 8px);
      h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        max-height: 150px;
        color: rgba(255, 255, 255, 0.6);
      }
      @media screen and (max-width: 1200px) {
        height: 50%;
      }
    }
    &-one {
      flex: 1 0 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      width: 20%;
      height: 100%;
      border-color: rgb(61 61 61 / 50%);
      border-width: 1px;
      border-radius: 24px;
      padding: 12px;
      color: #121212;
      position: relative;
      overflow: hidden;
      background-color: #000000;
      .education-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        h2 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 0px;
          color: #fff;
        }
        li {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 110%;
        transition: filter 0.2s ease-in-out;
        filter: blur(32px);
        z-index: 1;
        width: 120%;
        object-fit: cover;
        object-position: bottom right;
        opacity: 0.7;
      }
      &::after {
        content: "";
        position: absolute;
        transition: opacity 0.3s linear;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
        background-repeat: repeat;
        animation: noise 1.5s steps(2) 0.01s infinite;
        animation-play-state: running;
        opacity: 0.02;
        z-index: 1;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: color-change 5s infinite;
        animation-play-state: running;
        z-index: 0;
      }
     
      &:hover {
        background-color: #191a19;
        .card-title-section{
          opacity: 0;
        }
        img {
          filter: blur(0);
          mask-image: linear-gradient(rgba(0, 0, 0, 0.882), rgba(0, 0, 0, 0.15));
        }
        &::before {
          opacity: 0;
          animation-play-state: paused;
        }
        .education-wrapper{
          opacity: 1;
        }
      }
      @keyframes color-change {
        0% {
          background-color: #181818;
        }

        10% {
          background-color: #434343;
        }
        30% {
          background-color: #434343;
        }
        60% {
          background-color: #000000;
        }
        95% {
          background-color: #181818;
        }
        100% {
          background-color: #181818;
        }
      }
      @media screen and (max-width: 1200px) {
        order: 2;
        width: 100%;
      }
      @media screen and (max-width: 800px) {
        aspect-ratio: 1 / 1;
        max-height: 248px;
      }
      @media screen and (max-width: 550px) {
        max-height: 400px;
      }
      
    }
    &-two {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 8px;
      height: 100%;
      justify-content: center;
      min-width: 288px;
      overflow: visible;
      padding: 0;
      position: relative;
      width: 40%;
      &-one,
      &-two {
        display: flex;
        height: 100%;
        width: 50%;
        border-color: rgb(61 61 61 / 50%);
        border-width: 1px;
        border-radius: 24px;
      }
      &-one {
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        background-color: #000000;
          &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: linear-gradient(to top, #00000076, #00000000);
            z-index: 2;
            pointer-events: none;
          }
        &::after {
          content: "";
          position: absolute;
          transition: opacity 0.3s linear;
          left: -50%;
          top: -50%;
          width: 200%;
          height: 200%;
          background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
          background-repeat: repeat;
          animation: noise 1.5s steps(2) 0.01s infinite;
          animation-play-state: running;
          opacity: 0.02;
          z-index: 1;
          pointer-events: none;
        }
        .hover-images-container {
          transition: filter 0.2s ease-in-out;
          filter: blur(32px);
        }
        &:hover {
          .hover-images-container {
            filter: blur(0);
            mask-image: linear-gradient(rgba(0, 0, 0, 0.882), rgba(0, 0, 0, 0.15));
          }
        }

        h2 {
          position: absolute;
          bottom: 8px;
          left: 8px;
          z-index: 2;
        }

        .hover-images-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          position: relative;
          // mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
          overflow: hidden;
          border-radius: 24px;
          z-index: 1;
          img {
            border-radius: 24px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;
            aspect-ratio: 1/1;
            animation: zoom-in-out 10s ease-in-out infinite;
            @keyframes zoom-in-out {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.2);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }
        @media screen and (max-width: 1200px) {
          order: 0;
        }
        @media screen and (max-width: 800px) {
          aspect-ratio: 1 / 1;
          max-height: 248px;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          max-height: 350px;
        }
      }
      &-two {
        display: flex;
        position: relative;
        overflow: hidden;
        background-color: #000000;
        h2{
          position: absolute;
          bottom: 12px;
          left: 12px;
          z-index: 2;
        }
        .spotify-audio-player {
          position: relative;
          z-index: 0;
          padding: 12px;
          align-items: flex-start;
          justify-content: flex-end;
          flex-direction: column;
          gap: 8px;
          display: flex;
          width: 100%;
          .song-cover {
            max-width: 128px;
            max-height: 128px;
          }
          .song-info {
            .song-meta {
              display: flex;
              flex-direction: column;
              width: calc(100% - 40px);
            }
            h3 {
              width: calc(100% - 8px);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          &::after {
            content: "";
            background-color: var(--spotify-bg);
            background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0, #121212 100%),
              url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
            height: 211px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
          }
          .powered-by {
            display: flex;
            font-size: 9px;
            gap: 5px;
          }
        }
        

        &::after {
          content: "";
          position: absolute;
          transition: opacity 0.3s linear;
          left: -50%;
          top: -50%;
          width: 200%;
          height: 200%;
          background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
          background-repeat: repeat;
          animation: noise 1.5s steps(2) 0.01s infinite;
          animation-play-state: running;
          opacity: 0.02;
          pointer-events: none;
        }
        .spotify-audio-player{
          transition: all 0.3s;
          filter: blur(32px);
        }
        &:hover {
          
          .card-title-section{
            opacity: 0;
          }
          .spotify-audio-player{
            filter: blur(0px);
          }
        }
        @media screen and (max-width: 1200px) {
          order: 1;
        }
        @media screen and (max-width: 800px) {
          aspect-ratio: 1 / 1;
          max-height: 248px;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          max-height: 350px;
        }
      }
      @media screen and (max-width: 1200px) {
        order: 1;
        width: 66%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        height: 700px;
        flex-direction: column;
      }
    }

    &-three {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 40%;
      height: 100%;
      border-color: rgb(61 61 61 / 50%);
      border-width: 1px;
      border-radius: 24px;
      background-color: #000000;
      position: relative;
      overflow: hidden;
      
      &::after {
        content: "";
        position: absolute;
        transition: opacity 0.3s linear;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
        background-repeat: repeat;
        animation: noise 1.5s steps(2) 0.01s infinite;
        animation-play-state: running;
        opacity: 0.02;
        pointer-events: none;
      }
      .slider-container{
        transition: all 0.3s;
        filter: blur(32px);
      }
      &:hover {
        .slider-container{
          filter: blur(0px);
        }
      }
      h2{
        position: absolute;
        bottom: 12px;
        left: 12px;
      }
      @media screen and (max-width: 1200px) {
        order: 0;
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        height: 350px;
      }
    }
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 3rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -2rem, 0);
  }
  20% {
    transform: translate3d(-3rem, 1rem, 0);
  }
  30% {
    transform: translate3d(4rem, -4rem, 0);
  }
  40% {
    transform: translate3d(-1rem, 3rem, 0);
  }
  50% {
    transform: translate3d(-4rem, -1em, 0);
  }
  60% {
    transform: translate3d(1rem, 2rem, 0);
  }
  70% {
    transform: translate3d(2rem, -5rem, 0);
  }
  80% {
    transform: translate3d(-3rem, 1rem, 0);
  }
  90% {
    transform: translate3d(2rem, -3rem, 0);
  }
  100% {
    transform: translate3d(-2rem, 0, 0);
  }
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}


.webgl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background-color: #000000;
  cursor: move;
  width: 100%;
  height: 100%;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

#loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  visibility: visible;
}
#loading-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-bar {
  width: 80%;
  max-width: 400px;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
}
#loading-progress {
  height: 18px;
  background: #4caf50;
  width: 0%;
  transition: width 0.5s ease;
}

#loading-text {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

.forest-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #3333334a;
  border-radius: 8px;
  padding: 8px;
  font-size: 10px;
}

.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  .clouds {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    .cloud {
      transform: translateY(-20px);
      opacity: 0;
      animation-fill-mode: forwards;
      @keyframes cloudMove {
        0% {
          transform: translateY(-20px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
    animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
    animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-play-state: paused;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
  }
  .rain__drop path {
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
  }
  &.show {
    visibility: visible;
    opacity: 1;
    .rain__drop {
      animation-play-state: running;
    }
    .cloud {
      &.cloud-1 {
        animation: cloudMove 0.8s ease-in-out 0.3s forwards;
        z-index: 0;
      }
      &.cloud-2 {
        animation: cloudMove 0.5s ease-in-out 0.6s forwards;
        z-index: 0;
      }
      &.cloud-3 {
        z-index: 2;
        animation: cloudMove 0.2s ease-in-out 0s forwards;
      }
    }
  }
  @-webkit-keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
  @keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
    }
  }
}

%size {
  width: 100%;
  height: 100%;
}


// particles
$radius:1000px;
.particles-wrapper {
   position:fixed;
   top:50%;
   left:40%;
   margin-top:-$radius/2;
   margin-left:-$radius/2;
   height:$radius;
   width:$radius;
   z-index: -1;
   filter:blur(0px);
   @media screen and (max-width: 500px) {
    $radius:500px;
    top:25%;
    left:50%;
   }
   .particles {
      position:fixed;
      top:50%;
      transform-style: preserve-3d;
      animation:spin 120s ease infinite;
      .particle{
         position:relative;
         width:$radius;
         &:after {
            content:'';
            position:absolute;
            background-color:#ffffff9a;
            height:2px;
            width:2px;
         }
         @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
               transform:rotateZ(random(360)+deg) rotateY(random(360)+deg) rotateX(random(360)+deg);
               &:after {
                  left:random(99)+49%;
                  animation:slide random(10000)+5000ms -99999s ease-in-out infinite;
               }  
            }
         }
      }
   }
}
@keyframes spin {
   0% {
      transform:rotateY(0deg) rotateX(0deg);
   }
   100% {
      transform:rotateY(360deg) rotateX(360deg);
   }
}
@keyframes slide {
   0% {
      left:45%;
      opacity:0;
   }
   20% {
      opacity:1;
   }
   89% {
      left:0%;
   }
   90% {
      left:100%;
      height:1px;
   }
   95% {
      opacity:1;
   }
   100% {
      left:100%;
      opacity:0;
      height:3px;
   }
}