@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  .top {
    &-level {
      flex: 1 0 0px;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
      width: 100%;
      overflow: visible;
      padding: 0;
      height: 65%;
    }
    &-one {
      flex: 1 0 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 20%;
      height: 100%;
      border-color: rgba(255, 255, 255, 0.1);
      border-width: 1px;
      border-radius: 24px;
      padding: 12px;
      background-color: #ffb300;
      h2{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #121212;
      }
      p{
        font-size: 14px;
        max-height: 150px;
        color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        display: block;
        max-height: 7rem;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        transition: all 0.3s;
      }
      &:hover{
        p{
          max-height: max-content;
          -webkit-line-clamp: 0;
          -webkit-box-orient: unset;
        }
      }
      
    }
    &-two {
      flex: 1 0 0px;
      align-items: center;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 8px;
      height: 100%;
      justify-content: center;
      min-width: 288px;
      padding: 0;
      position: relative;
      width: 40%;
      &-one,
      &-two {
        display: flex;
        height: 50%;
        width: 100%;
        padding: 12px;
      }
      &-one {
        border-color: rgba(255, 255, 255, 0.3);
        border-width: 1px;
        border-radius: 24px;
        align-items: flex-end;
        justify-content: flex-start;
        overflow-y: auto;
        background-color: #ffffff14;
        .experience{
          max-height: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          scrollbar-color: transparent transparent;
          scrollbar-width: thin;
          position: relative;
          &:hover{
            scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
          }
          h2{
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          h3{
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
          }
          p{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 8px;
          }
          li{
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            &::before{
              content: "•";
              margin-right: 8px;
            }
            &:last-child{
              margin-bottom: 15px;
            }
          }
        }
      }
      &-two{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .my-name {
          font-size: 4.5rem;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
    &-three {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 40%;
      height: 100%;
      border-color: rgba(255, 255, 255, 0.1);
      border-width: 1px;
      border-radius: 24px;
      overflow: hidden;
      background-color: #00ff50;
      position: relative;
      .world-container{
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
  .bottom {
    &-level {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: center;
      width: 100%;
      height: calc(35% - 8px);
      h2{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      p{
        font-size: 14px;
        max-height: 150px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &-one {
      flex: 1 0 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 20%;
      height: 100%;
      border-color: rgba(255, 255, 255, 0.1);
      border-width: 1px;
      border-radius: 24px;
      padding: 12px;
      background-color: #00ffaf;
      color: #121212;
    }
    &-two {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 8px;
      height: 100%;
      justify-content: center;
      min-width: 288px;
      overflow: visible;
      padding: 0;
      position: relative;
      width: 40%;
      &-one,
      &-two {
        display: flex;
        height: 100%;
        width: 50%;
        border-color: rgba(255, 255, 255, 0.1);
        border-width: 1px;
        border-radius: 24px;
      }
      &-one{
        align-items: flex-end;
        justify-content: flex-start;
        
        h2{
          position: absolute;
          bottom: 8px;
          left: 8px;
          z-index: 1;
        }
        .hover-images-container{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          position: relative;
          mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
          overflow: hidden;
          border-radius: 24px;
          img{
            border-radius: 24px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;
            aspect-ratio: 1/1;
            animation: zoom-in-out 10s ease-in-out infinite;
            animation-play-state: paused;
            @keyframes zoom-in-out {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.2);
              }
              100% {
                transform: scale(1);
              }
            }

            &:hover {
              animation-play-state: running;
            }
          }
        }
      }
      &-two{
        padding: 12px;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        .song-cover{
          max-width: 128px;
          max-height: 128px;
        }
        .song-info{
          .song-meta{
            display: flex;
            flex-direction: column;
            width: calc(100% - 40px);
          }
          h3{
            width: calc(100% - 8px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
    &-three {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      width: 40%;
      height: 100%;
      border-color: rgba(255, 255, 255, 0.1);
      border-width: 1px;
      border-radius: 24px;
      padding: 12px;
      background-color: #8700ff;
    }
  }
}


#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#e4e0ba, #f7d9aa);
}


.spotify-audio-player{
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    background-color: var(--spotify-bg);
  background-image: linear-gradient(rgba(0, 0, 0, .1) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
    height: 211px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background-color: #000000;
  cursor: move;
  width: 100%;
  height: 100%;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}

#loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  visibility: visible;
}
#loading-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-bar {
  width: 80%;
  max-width: 400px;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
  
}
#loading-progress {
  height: 18px;
  background: #4caf50;
  width: 0%;
  transition: width 0.5s ease;
}

#loading-text{
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

.forest-info{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #3333334a;
  border-radius: 8px;
  padding: 8px;
  font-size: 10px;
}

.rain{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  .clouds {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    .cloud{
        transform: translateY(-20px);
        opacity: 0;
        animation-fill-mode: forwards;
      @keyframes cloudMove {
        0% {
          transform: translateY(-20px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
     
    }
  }


.rain__drop {
  -webkit-animation-delay: calc(var(--d) * 1s);
          animation-delay: calc(var(--d) * 1s);
  -webkit-animation-duration: calc(var(--a) * 1s);
          animation-duration: calc(var(--a) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  animation-play-state: paused;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px);
}
.rain__drop path {
  fill: #a1c6cc;
  opacity: var(--o);
  transform: scaleY(calc(var(--s) * 1.5));
}
&.show{
  visibility: visible;
  opacity: 1;
  .rain__drop {
    animation-play-state: running;
  }
  .cloud{

    &.cloud-1{
      animation: cloudMove 0.8s ease-in-out 0.3s forwards;
      z-index: 0;
    }
    &.cloud-2{
      animation: cloudMove 0.5s ease-in-out 0.6s forwards;
      z-index: 0;
    }
    &.cloud-3{
      z-index: 2;
      animation: cloudMove 0.2s ease-in-out 0s forwards;
    }
  }
}
@-webkit-keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
@keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
}